                                    <div class="col-sm-3">
										<ul class="multi-column-dropdown">
										    <h6>SmartPhones & Tablets</h6>
											<li><a href="{% url 'products' %}?order=smartphone">SmartPhones</a></li>
											<li><a href="{% url 'products' %}?order=mp3">Mp3 Players <span>Novo</span></a></li>
											<li><a href="{% url 'products' %}?order=marcas_em_destaque">Modelos Populares</a></li>
											<li><a href="{% url 'products' %}?order=tablets">Tablets<span>Novo</span></a></li>
										</ul>
									</div>

                                    <div class="col-sm-3">
										<ul class="multi-column-dropdown">
											<h6>Informática</h6>
											<li><a href="{% url 'products1' %}?order=notebooks">Notebooks</a></li>
											<li><a href="{% url 'products1' %}?order=desktops">Desktops</a></li>
											<li><a href="{% url 'products1' %}?order=smartwatches">SmartWatches<span>Novo</span></a></li>
											<li><a href="{% url 'products1' %}?order=loja_de_verao"><i>Loja de Verão</i></a></li>
										</ul>
									</div>

                                    <div class="col-sm-2">
										<ul class="multi-column-dropdown">
											<h6>Home</h6>
											<li><a href="{% url 'products2' %}?order=tv">Tvs</a></li>
											<li><a href="{% url 'products2' %}?order=eletrodomesticos">Eletrodomésticos</a></li>
											<li><a href="{% url 'products2' %}?order=ac">AC</a></li>
											<li><a href="{% url 'products2' %}?order=cafeteiras">Cafeteiras</a></li>
										</ul>
									</div>