{% load static %}
    <div class="w3l_related_products">
		<div class="container">
			<h3>Produtos Relacionados</h3>
			<ul id="flexiselDemo2">
                {% for p in produtos|slice:"4" %}
                <li>
					<div class="w3l_related_products_grid">
						<div class="agile_ecommerce_tab_left mobiles_grid">
							<div class="hs-wrapper hs-wrapper3">
								<img src="{{ p.imagem1.thumb.url }}" alt=" " class="img-responsive" />
								<div class="w3_hs_bottom">
									<div class="flex_ecommerce">
										<a href="#" data-toggle="modal" data-target="#myModal{{ p.id }}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
							<h5><a href="{% url 'single' p.pk %}">{{ p.nome }}</a></h5>
							<div class="simpleCart_shelfItem">
								<p class="flexisel_ecommerce_cart"><span>R${{ p.preco }}</span> <i class="item_price">R${{ p.preco_desconto }}</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="w3ls_item" value="{{ p.nome }}">
									<input type="hidden" name="amount" value="{{ p.preco_desconto }}">
									<button type="submit" class="w3ls-cart">Adicionar Ao Carrinho</button>
								</form>
							</div>
						</div>
					</div>
				</li>
                {% endfor %}
            </ul>
							<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo2").flexisel({
							visibleItems:4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: {
								portrait: {
									changePoint:568,
									visibleItems: 1
								},
								landscape: {
									changePoint:667,
									visibleItems:2
								},
								tablet: {
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
				</script>
				<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
		</div>
	</div>